body{
	font-family: sans-serif;

	}
.container {
  max-width: 600px;
  margin: 0 auto;
  min-height: 100%;
  background: white;
}
header{
	padding: 20px 15px 15px 15px;
  position: relative;
}

li {
  position: relative;
  list-style: none;
  padding: 15px;
  border-bottom: #eee solid 1px;
}

li .title {
  margin-left: 10px;
  font-size: 2em;
  font-style: bold;
}
li.description{
	font-size: 1em;
}